<a href="https://colab.research.google.com/github/malcolmbly/MachineLearningAZClass/blob/main/linear_regressions/multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multiple Linear Regression

## Importing the libraries

In [88]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [89]:
dataset = pd.read_csv('50_Startups.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [90]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

## Encoding categorical data

In [91]:
df = dataset.copy()
state_columns = pd.get_dummies(df['State'])
df = df.drop(['State'], axis=1)
y = df.pop('Profit')

##Replace Missing Values

In [92]:
#assuming the 0 values were false, in this case they were accurate (according to the class)
#for column in df.columns:
#   avg= np.average(df[column])
#   print(avg)
#   df[column]=df[column].replace(to_replace=0, value=avg)

X = pd.concat((df, state_columns), axis=1)

In [93]:
print(X)

    R&D Spend  Administration  Marketing Spend  California  Florida  New York
0   165349.20       136897.80        471784.10           0        0         1
1   162597.70       151377.59        443898.53           1        0         0
2   153441.51       101145.55        407934.54           0        1         0
3   144372.41       118671.85        383199.62           0        0         1
4   142107.34        91391.77        366168.42           0        1         0
5   131876.90        99814.71        362861.36           0        0         1
6   134615.46       147198.87        127716.82           1        0         0
7   130298.13       145530.06        323876.68           0        1         0
8   120542.52       148718.95        311613.29           0        0         1
9   123334.88       108679.17        304981.62           1        0         0
10  101913.08       110594.11        229160.95           0        1         0
11  100671.96        91790.61        249744.55           1        0         0
12   93863.75       127320.38        249839.44           0        1         0
13   91992.39       135495.07        252664.93           1        0         0
14  119943.24       156547.42        256512.92           0        1         0
15  114523.61       122616.84        261776.23           0        0         1
16   78013.11       121597.55        264346.06           1        0         0
17   94657.16       145077.58        282574.31           0        0         1
18   91749.16       114175.79        294919.57           0        1         0
19   86419.70       153514.11             0.00           0        0         1
20   76253.86       113867.30        298664.47           1        0         0
21   78389.47       153773.43        299737.29           0        0         1
22   73994.56       122782.75        303319.26           0        1         0
23   67532.53       105751.03        304768.73           0        1         0
24   77044.01        99281.34        140574.81           0        0         1
25   64664.71       139553.16        137962.62           1        0         0
26   75328.87       144135.98        134050.07           0        1         0
27   72107.60       127864.55        353183.81           0        0         1
28   66051.52       182645.56        118148.20           0        1         0
29   65605.48       153032.06        107138.38           0        0         1
30   61994.48       115641.28         91131.24           0        1         0
31   61136.38       152701.92         88218.23           0        0         1
32   63408.86       129219.61         46085.25           1        0         0
33   55493.95       103057.49        214634.81           0        1         0
34   46426.07       157693.92        210797.67           1        0         0
35   46014.02        85047.44        205517.64           0        0         1
36   28663.76       127056.21        201126.82           0        1         0
37   44069.95        51283.14        197029.42           1        0         0
38   20229.59        65947.93        185265.10           0        0         1
39   38558.51        82982.09        174999.30           1        0         0
40   28754.33       118546.05        172795.67           1        0         0
41   27892.92        84710.77        164470.71           0        1         0
42   23640.93        96189.63        148001.11           1        0         0
43   15505.73       127382.30         35534.17           0        0         1
44   22177.74       154806.14         28334.72           1        0         0
45    1000.23       124153.04          1903.93           0        0         1
46    1315.46       115816.21        297114.46           0        1         0
47       0.00       135426.92             0.00           1        0         0
48     542.05        51743.15             0.00           0        0         1
49       0.00       116983.80         45173.06           1        0         0

## Splitting the dataset into the Training set and Test set

In [94]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.2, random_state=23)

In [95]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

## Training the Multiple Linear Regression model on the Training set

In [96]:

from sklearn.linear_model import LinearRegression

reg = LinearRegression()

result = reg.fit(X_train,y_train)

## Predicting the Test set results

In [124]:
from sklearn.metrics import mean_squared_error

predictions=reg.predict(X_test)

np.set_printoptions(precision=2)

print(np.concatenate((y_test.values.reshape(len(y_test),1), predictions.reshape(len(predictions),1)),axis=1))
print('Root Mean Squared Error of test is:', np.sqrt(mean_squared_error(y_test, predictions)))

[[132602.65 151371.82]
 [124266.9  129709.1 ]
 [125370.37 130453.13]
 [ 97427.84  99406.5 ]
 [134307.35 127273.67]
 [ 96778.92  98155.08]
 [118474.03 115634.47]
 [152211.77 152507.23]
 [ 90708.19  74965.44]
 [103282.38 103051.16]]
Root Mean Squared Error of test is: 8479.700078396994