<a href="https://colab.research.google.com/github/malcolmbly/MachineLearningAZClass/blob/main/data_preprocessing/data_preprocessing_tools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing Tools

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
raw_data= pd.read_csv('Data.csv')

raw_data.head()

Saving Data.csv to Data.csv
User uploaded file "Data.csv" with length 226 bytes

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

## Taking care of missing data

In [3]:
df=raw_data.copy()
#Depending on the ratio of missing data, we can either drop missing sets
#or replace their values with the averages of the entire feature set
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer.fit(df[['Age', 'Salary']])

df[['Age', 'Salary']]=imputer.transform(df[['Age', 'Salary']])

#df=df.dropna()

df.head()

   Country   Age        Salary Purchased
0   France  44.0  72000.000000        No
1    Spain  27.0  48000.000000       Yes
2  Germany  30.0  54000.000000        No
3    Spain  38.0  61000.000000        No
4  Germany  40.0  63777.777778       Yes

## Encoding categorical data

In [4]:
country_dummies=pd.get_dummies( df['Country'])
purchased_boolean=df['Purchased'].map({'Yes': 1, 'No':0})

df=df.drop(['Country', 'Purchased'], axis=1)



df=pd.concat([df, country_dummies, purchased_boolean], axis=1)

In [5]:
df.head()

    Age        Salary  France  Germany  Spain  Purchased
0  44.0  72000.000000       1        0      0          0
1  27.0  48000.000000       0        0      1          1
2  30.0  54000.000000       0        1      0          0
3  38.0  61000.000000       0        0      1          0
4  40.0  63777.777778       0        1      0          1

## Splitting the dataset into the Training set and Test set

In [6]:
from sklearn.model_selection import train_test_split

y= df.pop('Purchased')
X=df

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

In [7]:
X_train.iloc[:,0:2]

         Age        Salary
5  35.000000  58000.000000
0  44.000000  72000.000000
7  48.000000  79000.000000
2  30.000000  54000.000000
9  37.000000  67000.000000
4  40.000000  63777.777778
3  38.000000  61000.000000
6  38.777778  52000.000000

## Feature Scaling

In [8]:
from sklearn import preprocessing

customScaler = preprocessing.StandardScaler()

X_train.iloc[:,0:2]=customScaler.fit_transform(X_train.iloc[:,0:2])

X_test.iloc[:,0:2]=customScaler.transform(X_test.iloc[:,0:2])

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [9]:
print ("The Train set looks like: \n", X_train, "\nThe test set looks like: \n", X_test)

The Train set looks like:
         Age    Salary  France  Germany  Spain
5 -0.752943 -0.626038       1        0      0
0  1.008454  1.013043       1        0      0
7  1.791297  1.832583       1        0      0
2 -1.731496 -1.094347       0        1      0
9 -0.361521  0.427657       1        0      0
4  0.225611  0.050408       0        1      0
3 -0.165810 -0.274806       0        0      1
6 -0.013591 -1.328501       0        0      1 The test set looks like:
         Age    Salary  France  Germany  Spain
8  2.182718  2.300892       0        1      0
1 -2.318628 -1.796810       0        0      1